.errorWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	word-wrap: break-word;

	&Title {
		max-width: 600px;
		border: 1px solid rgba(0, 0, 0, 1);
		padding: 20px;
		border-radius: 10px;

		&Text {
			color: #ed1c24;
		}
	}
}

@media (max-width: 768px) {
	.errorWrapper {
		&Title {
			padding: 15px;

			&Text {
				font-size: 22px;
			}
		}
	}
}

@media (max-width: 445px) {
	.errorWrapper {
		&Title {
			padding: 10px;

			&Text {
				font-size: 18px;
			}
		}
	}
}
